* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: 'Concert One', cursive;
}

body {
  height: 100%;
  display: block;
  background: linear-gradient(70deg, rgb(9, 9, 9), rgb(62, 62, 62));
  color: white;
}

.table {
  color: white;
  padding: 10px;
  width: 90%;
  margin: 10px auto;
}

thead {
  font-weight: bold;
}
td {
  vertical-align: middle;
}

a {
  text-decoration: none;
}

div {
  font-size: 16pt;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 38vh;
}

.column {
  display: flex;
  flex-direction: row;
  color: white;
}

.col {
  margin: 5px;
  height: 30px;
  width: 100px;
  padding: 7px;
  text-align: center;
  border-radius: 6px;
  flex-basis: 50%;
  transition: transform 0.5s;
}

.col_rotate {
  transform: rotateX(180deg);
}

.col_unrotate {
  transform: rotateX(0deg) !important;
}

.card-front {
  position: absolute;
  width: 91%;
  height: 49px;
  padding: 7px;
  transition: transform 0.5s;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  border-radius: 10px;
}

.card-answer {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  width: 91%;
  height: 49px;
  padding: 7px;
  transition: transform 0.5s;
  transform: rotateX(180deg);
  backface-visibility: hidden
}

.bg-blue {
  background: linear-gradient(70deg, blue, #001647);
  box-shadow: 2px 2px 2px 333;
}

.bg-card {
  background-color: #be5fab;
}


.bg-card-b {
  background-color: #60a567;
  border-radius: 10px;
}

.number {
  border: 3px solid #f2ff00;
  padding: 8px 17px;
  border-radius: 50%;
  font-size: 16pt;
  color: yellow;
}

table {
  width: 100%;
}

table thead {
  width: 100%;
}